transformers==4.43.4
datasets==3.1.0
fastapi
fire
galore_torch
gradio
groq
jieba
matplotlib
modelscope
networkx
nltk
numpy
openai
packaging
pandas
peft
Pillow
psutil
pydantic
pynauty
pysat
pytest
PyYAML
Requests
safetensors
scikit_learn
setuptools
sse_starlette
torch
torchmetrics
tqdm
trl
typing_extensions
uvicorn
